.place__title {
    margin: 0;
    width: 460px;
    color: #ffffff;
    font-size: calc(57px + 30 * (100vw / 1280));
    font-weight: 900;
    line-height: 76px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}

@media screen and (max-width: 1024px) {
    .place__title {
        max-width: 440px;
    }
}

@media screen and (max-width: 768px) {
    .place__title {
        max-height: 340px;
        font-size: 44px;
        line-height: 46px;
    }
}

@media screen and (max-width: 480px) {
    .place__title {
        max-width: 414px;
        font-size: 32px;
        line-height: 35px;
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 1;
    }
}