.intro__list {
    color: #ffffff;
    margin: 0px;
    font-size: 12px;
    line-height: 18px;    
}

.intro__list:first-of-type {
    margin-top: 33px;
}

@media (max-width: 320px) {
    .intro__list {
        margin-top: 34px;
    }
}