.intro__list {
    color: #ffffff;
    margin-top: 33px;
    font-size: 12px;
    line-height: 18px;
    height: 90px;
}

@media (max-width: 320px) {
    .intro__list {
        margin-top: 34px;
    }
}