.photo-grid__item {
    width: 100%;
    max-width: 284px;
}

@media (max-width: 1024px) and (min-width: 769px) {
    .photo-grid__item {        
        max-width: 300px;
    }
}

@media (max-width: 768px) and (min-width: 321px) {
    .photo-grid__item {
        width: 100%;
        max-width: 352px;
    }
}