.footer__copyright {
    margin: 0;
    margin-left: auto;
    color: #ffffff;
    font-size: 1.3vw;
    line-height: 16px;
    font-weight: 400;
    
    justify-items: end;
}

@media (max-width: 320px) {
    .footer__link {
        font-size: 14px;
        line-height: 14px;
        margin-bottom: 32px;
    }
}