.cover {
    margin: 92px auto;
    width: 100%;
    max-width: 1184px;
    height: 740px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 480px) {
    .cover {
        margin: 66px auto;
        max-width: 320px;
        height: 200px;
    }
}