.cover {
    margin: 92px auto;
    width: 100%;
    max-width: 1184px;
    flex-direction: column;
    position: relative;
}

@media screen and  (max-width: 1024px) {
    .cover {
        margin: 66px auto;
        max-width: 1024px;        
    }
}

@media screen and  (max-width: 768px) {
    .cover {
        margin: 90px auto;
        max-width: 768px;
    }
}

@media screen and  (max-width: 480px) {
    .cover {
        margin: 66px auto;
        max-width: 320px;
    }
}