.footer {
    margin: 92px auto 24px;
    width: 100%;
    max-width: 1184px;
    display: flex;    
}

@media screen and  (max-width: 1024px) {
    .footer {
        margin: 66px auto;
        max-width: 928px;
    }
}

@media screen and  (max-width: 768px) {
    .footer {
        margin: 88px auto;
        max-width: 720px;
    }
}

@media screen and  (max-width: 480px) {
    .footer {
        margin: 64px 16px 24px 118px;
        max-width: 186px;
        height: 310px;
        flex-direction: column;
    }
}